/*  HEADER  */



.page_header {

  display: block;
  width: 100%;
  margin-bottom: -150px;
  background-color: transparent;
  color: #ffffff;
  position: relative;
  z-index: 1;

}

/* TOP-BAR */

.top_bar,
.find,
.find_us,
.social_item,
.container_box,
.social_main,
.social_link {

  margin: 0;
  padding: 0;

}

.top_bar {

  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding: 23px 0 23px 0;
  border-bottom: 1px solid #fff;

}

.find {

  float: left;
}

.find_us {

  width: 170px;
  float: left;

}

.social_main {

  width: 170px;
  float: right;

}

.social_item {

  list-style: none;
  width: 20%;
  float: left;

}

.social_link {

  position: relative;
  display: block;
  box-sizing: content-box;
  margin: 0 15px;
  text-decoration: none;
  color: inherit;

}

.social_main .social_item:last-child {

  margin-right: 0;

}

/*  NAV-BAR  */

.nav_bar {

  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;

}

/*  BRAND  */

.brand {

  float: left;
  width: 530px;

}

.brand_link {

  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 0;

}

.brand_logo {

  display: inline-block;
  width: 150px;
  border: none;
  outline: none;
  vertical-align:bottom;
  margin-top: 20px;

}

/*  /BRAND  */

/*  NAVIGATION  */

.navigation_wrapper {

  float: right;
  display: block;
  width: 600px;
  overflow: hidden;
  text-align: right;

}


.navigation_item {

  list-style: none;

}

.navigation_link {

  text-decoration: none;
  color: inherit;

}

.navigation-main {

  font-size: 0;
  line-height: 0;
  vertical-align: top;

}

.navigation_item {

  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  font-size: 14px;
  line-height: 79px;
  font-weight: 500;
  text-transform: uppercase;

}

.navigation_item:last-child {

  margin-right: 0;

}

.navigation_link {

  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  border-top: 1px;
  padding-top: 29px;

}

.navigation_link:hover {

  border-top: 3px solid transparent;
  border-top-color: #d6a862;

}

/*  /NAVIGATION  */

