/*  LATESTBLOG  */


.latestblog,
.latestblog_title,
.latestblog_categories,
.latestblog_list,
.latestblog_blog,
.latestblog_view,
.latestblog_view_img,
.latestblog_view_header,
.latestblog_view_title,
.latestblog_view_title_big,
.latestblog_view_category {
  
  margin: 0;
  padding: 0;
  
}

.latestblog {
  
  padding: 120px 0;
  text-align: center;
  background-image: url("../img/latestblog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.latestblog .container {
  
  position: relative;
  
}

.latestblog_title {

  margin-bottom: 30px;

  font-family: 'Butler', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  color: #3a3a3a;

}

.latestblog_categories {
  
  margin: 15px;
  
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  
}

.latestblog_filter {
  
  display: inline-block;
  margin: 0 22px;
  
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3a3a3a;
  
}

.latestblog_filter input[type="radio"] {
  
  display: none;
  
}

.latestblog_filter span {
  
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  
}

.latestblog_filter:hover span,
.latestblog_filter input[type="radio"]:checked + span {
  
  color: #e8be7b;
  
}

.latestblog_list,
.latestblog_blog {
  
  display: block;
  list-style: none;
  
}

.latestblog_list {
  
  padding-bottom: 90px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

.latestblog_blog {
  
  position: relative;
  width: 370px;
  margin: 15px;

}

.latestblog_blog:nth-child(1) {


  width: 770px;

}

.latestblog_categories .btn-transparent {

  border-color: #2a2a2a;

}

.latestblog_categories .btn-transparent:hover {

  border-color: #ffffff;
  color: #ffffff;

}

.btn-filter {

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid #3a3a3a;

}


/*  /LATESTBLOG  */



/*  LATESTBLOG VIEW  */


.latestblog_view_ {
  
  position: relative;
  display: block;
  height: 337px;
  overflow: hidden;

  
}

.latestblog_view_img {
  
  display: block;
  max-width: 100%;
  height: auto;
  
}

.latestblog_view_header {
  
  margin: 30px 0;
  text-align: left;
  text-transform: capitalize;
  
}

.latestblog_view_title {
  
  margin-bottom: 13px;
  padding-right: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #3a3a3a;
  
}

.latestblog_view_title_big {

  margin-bottom: 13px;
  padding-right: 290px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #3a3a3a;

}

.latestblog_view_category {
  
  margin-bottom: 3px;

  font-family: 'Butler', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #3a3a3a;
  
}

.latestblog_view_img:hover {

  position: relative;
  bottom: 10px;
  right: 10px;

}

.shadow:hover {

  background: #e8be7b;


}

/*  /LATESTBLOG VIEW  */