/*  OFFERS  */

.offers,
.slider,
.slider_wrapper,
.slider_slide,
.slider_indicator {
  
  margin: 0;
  padding: 0;
  
}

.offers {
  
  display: block;
  width: 100%;
  
}

.colortext {
  color: #e8be7b;
}

.slider {
  
  width: 100%;
  height: 100vh;
  
}

.slider_switch {
  
  display: none;
  
}

.slider_wrapper {
  
  position: relative;
  width: 100%;
  height: 100%;
  
  background-color: #454545;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;


}

#slide-01:checked ~ .slider_wrapper {
  
  background-image: url("../img/slider_slide-01.png");
  
}

#slide-02:checked ~ .slider_wrapper {
  
  background-image: url("../img/slider_slide-02.jpg");
  
}

#slide-03:checked ~ .slider_wrapper {
  
  background-image: url("../img/slider_slide-03.jpg");
  
}

#slide-04:checked ~ .slider_wrapper {
  
  background-image: url("../img/slider_slide-04.jpg");
  
}

#slide-05:checked ~ .slider_wrapper {
  
  background-image: url("../img/slider_slide-05.jpg");
  
}

.slider_content {
  
  position: relative;
  height: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  color: #ffffff;
  
}

.slider_slide {
  
  list-style: none;
  display: none;
  position: absolute;
  width: 850px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  
}

#slide-01:checked ~ .slider_wrapper .slider_slide-01, 
#slide-02:checked ~ .slider_wrapper .slider_slide-02, 
#slide-03:checked ~ .slider_wrapper .slider_slide-03, 
#slide-04:checked ~ .slider_wrapper .slider_slide-04, 
#slide-05:checked ~ .slider_wrapper .slider_slide-05 {
  
  display: block;
  
}

.slider_indicators {
  
  position: absolute;
  right: 0;
  bottom: -160px;
  top: -120px;
  margin: 445px 30px 310px 1162px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  text-align: center;

}

.slider_indicator {


  display: block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin: 15px auto;
  background-color: #ffffff;
  cursor: pointer;
  
}

#slide-01:checked ~ .slider_wrapper label[for="slide-01"], 
#slide-02:checked ~ .slider_wrapper label[for="slide-02"], 
#slide-03:checked ~ .slider_wrapper label[for="slide-03"], 
#slide-04:checked ~ .slider_wrapper label[for="slide-04"], 
#slide-05:checked ~ .slider_wrapper label[for="slide-05"] {

  width: 9px;
  height: 9px;
  margin: 0 auto;
  background-color: #e8be7b;

}

.no-js .slider_btn {
  
  display: none;
  
}

.offers_slogan {
  
  margin-bottom: 46px;
  font-family: 'Butler', sans-serif;
  font-size: 16px;
  line-height: 24px;
  
}

.offers_slogan strong {

  font-family: 'Butler', sans-serif;
  font-size: 64px;
  line-height: 120%;
  font-weight: bold;
  text-transform: capitalize;
  
}

.btn_container {

  width: 390px;
  height: auto;
  display: flex;
  margin: 0 auto;

}

.slider_slide .btn-transparent .icon-right-dir::before {

  font-size: 27px;
  margin: 0 3px 3px 0;
  color: #ffffff;
  vertical-align: middle;

}

.slider_slide .btn-transparent:hover {

  border: 1px solid #e8be7b;

}


/*  OFFERS  */