/*  REALIZATION  */


.realization,
.realization_title,
.realization_date,
.realization_content {
  
  margin: 0;
  padding: 0;
  
}

.realization {

  display: block;
  width: 100%;
  background-position: center top;
  
}

.realization_slider {

  width: 100%;
  height: 100vh;

}

.realization_slider_switch {

  display: none;

}

.realization_slider_wrapper {

  position: relative;
  width: 100%;
  height: 100%;

  background-color: #3a3a3a;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;


}

#realization_slide-01:checked ~ .realization_slider_wrapper {

  background-image: url("../img/realization_slider_slide-01.jpg");

}

#realization_slide-02:checked ~ .realization_slider_wrapper {

  background-image: url("../img/realization_slider_slide-02.jpg");

}

.realization_slider_content {

  position: relative;
  height: 100%;
  padding: 0;
  list-style: none;
  text-align: center;


}

.realization_slider_slide {

  list-style: none;
  display: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

#realization_slide-01:checked ~ .realization_slider_wrapper .realization_slider_slide-01,
#realization_slide-02:checked ~ .realization_slider_wrapper .realization_slider_slide-02 {

  display: block;

}

.realization_slider_indicators {

  position: absolute;
  right: 0;
  bottom: -160px;
  top: -120px;
  margin: 445px 30px 310px 1162px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  text-align: center;

}

.realization_slider_indicator {


  display: block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin: 15px auto;
  background-color: #ffffff;
  cursor: pointer;

}

#realization_slide-01:checked ~ .realization_slider_wrapper label[for="realization_slide-01"],
#realization_slide-02:checked ~ .realization_slider_wrapper label[for="realization_slide-02"] {

  width: 9px;
  height: 9px;
  margin: 0 auto;
  background-color: #e8be7b;

}

.realization_content {

  display: flex;
  width: 800px;
  background-color: white;
  padding: 25px 84px;
  margin: 0 auto;

}

.realization_date {

  width: 116px;
  padding-top: 15px;
  padding-right: 22px;
  font-family: 'Butler', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #3a3a3a;
  text-transform: capitalize;
  border-right: 1px solid #3a3a3a;
  text-align: center;

}

.realization_date .icon-heart {

  padding-top: 20px;
}

.realization_description {

  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding-left: 23px;
  text-align: left;

}

.icon-heart:before {

  padding-top: 10px;
  color: #e8be7b;

}


.no-js .realization_slider_btn {

  display: none;

}

.realization_slider_btn {

  position: absolute;
  top: 80%;
  border: none;
  background-color: transparent;
  cursor: pointer;

  width: 54px;
  margin: 0 auto;
  height: 20px;

  background-image: url(../img/realization_srtite_arrow.png);
  background-repeat: no-repeat;

}

.realization_slider_btn_prev {

  left: 0;
  background-position: 0 -36px;

}

.realization_slider_btn_prev:hover {

  background-position: -0 -3px;

}

.realization_slider_btn_next {

  right: 0;
  background-position: -64px -36px;

}

.realization_slider_btn_next:hover {

  background-position: -64px -2px;

}

/*  /REALIZATION  */